:root.theme-light {
  --background-path: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --accent-color: #ff8dcb;
  --corners-color:#353430;
  --page-color:#FFF1F7;
  --title-color-header-footer: #FFC2E6;
  --main-text-color: #353430;
  --heading-color: #353430;
  --theme-menu-hover-color:rgb(50, 49, 45, 0.4);
  --selected-word-color:#353430;
  --active-menu-button-color:#353430;
  --menu-buttons-color: var(--active-menu-button-color);
  --card-headings-color:var(--main-text-color);
  --main-color:var(--main-text-color);
}

.theme-light .header__decor {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgb(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
   --background-path: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --accent-color: #ff8dcb;
  --corners-color:#353430;
  --page-color:#FFF1F7;
  --title-color-header-footer: #FFC2E6;
  --main-text-color: #353430;
  --heading-color: #353430;
  --theme-menu-hover-color:rgb(50, 49, 45, 0.4);
  --selected-word-color:#353430;
  --active-menu-button-color:#353430;
  --menu-buttons-color: var(--active-menu-button-color);
  }

 .header__decor {
  display: none;
}
}