:root {
  --background-path: url('../images/cover-image-dark.png');
  --background-color:#000028;
  --accent-color:#FF0070;
  --corners-color:#ff0070;
  --main-color:#000028;
  --text-color:#F1B2CE;
  --title-color-header-footer:#DB00FF;
  --theme-menu-hover-color:rgb(255, 0, 112, 0.4);
  --main-text-color:#F1B2CE;
  --selected-word-color:#F1B2CE;
  --active-menu-button-color: #ff0070;
  --menu-buttons-color:var(--accent-color);
  --page-color: #000028;
  --card-headings-color:var(--accent-color);
  
  --text-line-height:23.4px;
  --text-font-size:18px;
  --heading-font-weight:700;
  --text-font-weight:400;
  --text-margin:20px;
  --images-section-margin:10px;
  --mobile-grid-columns:10px 2fr 1fr 10px;
  --page-heading-lint-height:83%;
  --tablet-grid-columns:20px 236px 20px 1fr 4fr 20px;
  --tablet-images-section-columns:236px 20px repeat(2, 1fr) 230px;
  --desktop-grid-columns:20px 2fr 20px repeat(2, 1fr) 20px 2fr 20px;
  --desktop-images-section-columns:315px 20px repeat(2, 1fr) 314px;
}
